### Intro to the Notebook
### Step 1
Some Description - Import
### Step 2
Some more Description - run some functions

In [1]:
# Import all your packages and hide this

import pandas as pd

from functions.example_function import UserSchema, normalize_user_names

### Step 2
run X Y

In [3]:
raw_data = pd.DataFrame({"user_id": [1, 2, 3], "name": ["  alice", "BOB  ", "  Charlie  "]})
raw_data = UserSchema.validate(raw_data)
# Act: normalize the names
result = normalize_user_names(raw_data)
display(raw_data)
display(result)

   user_id         name
0        1        alice
1        2        BOB
2        3    Charlie

   user_id     name
0        1    Alice
1        2      Bob
2        3  Charlie